@media only screen and (max-width: 767.98px) {
  .ajax_categories_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .information-block {
    margin-left: 0;
    margin-top: 20px;
  }
  #ajax_products_content {
    margin: 0 auto;
  }
}

